<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mantou.mantoubo.basic.mapper.identity.UserMapper">

    <resultMap id="userRoleMap" type="com.mantou.mantoubo.basic.entity.identity.User">
        <id column="USER_ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="MOBILE" property="mobile"/>
        <result column="EMAIL" property="email"/>
        <result column="NICKNAME" property="nickname"/>
        <result column="SALT" property="salt"/>
        <result column="STATUS" property="status"/>
        <collection property="Roles" ofType="com.mantou.mantoubo.basic.entity.identity.Role">
            <id column="ROLE_ID" property="id"/>
            <result column="ROLE_NAME" property="roleName"/>
        </collection>
    </resultMap>


    <!--  根据用户名查询数据  -->
    <select id="queryUserByName" parameterType="java.lang.String" resultMap="userRoleMap">
        SELECT
            C.USER_ID,
            A.USERNAME,
            A.PASSWORD,
            A.MOBILE,
            A.EMAIL,
            A.NICKNAME,
            A.SALT,
            A.STATUS,
            C.ROLE_ID,
            B.ROLE_NAME
        FROM
            USER A,
            ROLE B,
            USER_ROLE C
        WHERE
            A.ID = C.USER_ID
        AND
            B.ID = C.ROLE_ID
        AND
            A.USERNAME = #{name}
    </select>

    <!-- 给用户添加角色   -->
    <insert id="addRoleForUser" parameterType="com.mantou.mantoubo.basic.entity.identity.UserRole">
        INSERT INTO
            USER_ROLE (USER_ID,ROLE_ID)
        VALUES
             (#{userId},#{roleId})
    </insert>


</mapper>
